## this script is similar to the hosp and cases scripts where they prep mobility data to feed into mascot glm as migration predictors

In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [4]:
mob = '/Users/mparedes/Desktop/gitrepos/ncov-king-county/analysis/data-files/movement_within_king_co.tsv'

In [5]:
dfnew = pd.read_csv(mob, sep='\t', parse_dates = [1])

In [6]:
dfnew

     start_date     poi_geo visitor_geo    sum_visits        category
0    2018-01-01  North King  North King  6.618740e+06    within North
1    2018-01-01  North King  South King  7.810967e+05  South to North
2    2018-01-01  South King  North King  5.942274e+05  North to South
3    2018-01-01  South King  South King  2.783091e+06    within South
4    2018-01-08  North King  North King  7.403306e+06    within North
..          ...         ...         ...           ...             ...
883  2022-03-21  South King  South King  3.935360e+06    within South
884  2022-03-28  North King  North King  5.244599e+06    within North
885  2022-03-28  North King  South King  8.432897e+05  South to North
886  2022-03-28  South King  North King  7.431200e+05  North to South
887  2022-03-28  South King  South King  4.037769e+06    within South

[888 rows x 5 columns]

In [7]:
mig_df = dfnew[(dfnew.category == "North to South") | (dfnew.category == "South to North")]
mig_df = mig_df[(mig_df.start_date > "2019-02-03") & (mig_df.start_date <= "2022-03-15")]

In [8]:
agg_mig = mig_df.groupby("start_date")["sum_visits"].sum().reset_index().sort_values('start_date')
agg_mig.index = pd.to_datetime(agg_mig['start_date'])

In [9]:
agg_mig

            start_date    sum_visits
start_date
2019-02-04  2019-02-04  1.083670e+06
2019-02-11  2019-02-11  1.282068e+06
2019-02-18  2019-02-18  1.535423e+06
2019-02-25  2019-02-25  1.834778e+06
2019-03-04  2019-03-04  1.503784e+06
...                ...           ...
2022-02-14  2022-02-14  1.206879e+06
2022-02-21  2022-02-21  1.429560e+06
2022-02-28  2022-02-28  1.489842e+06
2022-03-07  2022-03-07  1.397995e+06
2022-03-14  2022-03-14  1.426786e+06

[163 rows x 2 columns]

In [ ]:
first_date = pd.Timestamp('2019-12-28')
end_date = pd.Timestamp('2022-03-05')
dates = pd.date_range(first_date, end_date, freq='D')
dates.name = 'date'

In [ ]:
test_filled = agg_mig.reindex(dates, method='bfill')

In [ ]:
test_filled

In [ ]:
newdf = pd.DataFrame(np.repeat(test_filled.sum_visits, 2), columns=test_filled.columns)

In [ ]:
newdf = newdf.reset_index()

In [ ]:
df_np = newdf['sum_visits'].to_numpy()

In [ ]:
df_np = df_np.flatten()

In [ ]:
blah = df_np.tolist()
blah.reverse()

In [ ]:
len(blah)

In [ ]:
print(*blah, sep=',')