In [1]:
import pandas as pd
import altair as alt
import numpy as np
from altair import datum

In [2]:
raw_metadata = pd.read_csv("data/sequenced_kingco_3.22.22.csv")
alpha_clusters = pd.read_csv("mascot_glm/data/kc_clusters_alpha_new.tsv", sep = "\t")

In [3]:
alpha_clusters

,strain,cluster,location,date
0,USA/WA-UW-21050529358/2021,1,North_King_County,2021-05-05
1,USA/WA-UW-21050476716/2021,2,North_King_County,2021-05-04
2,USA/WA-UW-2021041397284/2021,3,North_King_County,2021-04-13
3,USA/WA-UW-2021041489375/2021,3,North_King_County,2021-04-14
4,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,3,South_King_County,2021-04-27
...,...,...,...,...
2866,USA/WA-CDC-UW21060145354/2021,1161,South_King_County,2021-06-01
2867,USA/WA-CDC-UW21060179240/2021,1161,South_King_County,2021-06-01
2868,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,1161,South_King_County,2021-06-23
2869,USA/WA-CDC-UW21062445836/2021,1161,North_King_County,2021-06-24
2870,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,1161,South_King_County,2021-06-19

In [4]:
raw_metadata

,Unnamed: 0,ID,GISAID_ID,POSTAL_CODE,AGE_DECADE,COUNTY
0,1,13891,USA/WA-Altius-ALTCOV-PAINETRD6YCX72UC/2021,98023,Age 0-9,King
1,2,13814,USA/WA-S10305/2021,98059,Age 30-39,King
2,3,4251,USA/WA-UW-64698/2021,98198,Age 20-29,King
3,4,3051,USA/WA-S4077/2021,98042,Age 0-9,King
4,5,4145,USA/WA-UW-62350/2021,98115,Age 20-29,King
...,...,...,...,...,...,...
33707,33708,23154,USA/WA-CDC-UW21120137629/2021,98116,Age 30-39,King
33708,33709,20235,USA/WA-UW-21100629440/2021,98103,Age 40-49,King
33709,33710,21348,USA/WA-PHL-005644/2021,98059,Age 50-59,King
33710,33711,22418,USA/WA-UW-21111550085/2021,98028,Age 20-29,King
33711,33712,31692,USA/WA-CDC-UW22022101668/2022,98103,Age 30-39,King

In [5]:
merged_df = pd.merge(alpha_clusters, raw_metadata, left_on= "strain", right_on = "GISAID_ID")
merged_df

,strain,cluster,location,date,Unnamed: 0,ID,GISAID_ID,POSTAL_CODE,AGE_DECADE,COUNTY
0,USA/WA-UW-21050529358/2021,1,North_King_County,2021-05-05,22622,1203,USA/WA-UW-21050529358/2021,98282,Age 80-89,King
1,USA/WA-UW-21050476716/2021,2,North_King_County,2021-05-04,7368,10863,USA/WA-UW-21050476716/2021,98109,Age 30-39,King
2,USA/WA-UW-2021041397284/2021,3,North_King_County,2021-04-13,11223,7461,USA/WA-UW-2021041397284/2021,98118,Age 10-19,King
3,USA/WA-UW-2021041489375/2021,3,North_King_County,2021-04-14,7644,7630,USA/WA-UW-2021041489375/2021,98126,Age 10-19,King
4,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,3,South_King_County,2021-04-27,10103,9761,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,98168,Age 10-19,King
...,...,...,...,...,...,...,...,...,...,...
2865,USA/WA-CDC-UW21060145354/2021,1161,South_King_County,2021-06-01,8923,12709,USA/WA-CDC-UW21060145354/2021,98198,Age 0-9,King
2866,USA/WA-CDC-UW21060179240/2021,1161,South_King_County,2021-06-01,6785,12704,USA/WA-CDC-UW21060179240/2021,98198,Age 0-9,King
2867,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,1161,South_King_County,2021-06-23,3343,13428,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,98148,Age 30-39,King
2868,USA/WA-CDC-UW21062445836/2021,1161,North_King_County,2021-06-24,13612,13441,USA/WA-CDC-UW21062445836/2021,98195,Age 20-29,King
2869,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,1161,South_King_County,2021-06-19,2945,13326,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,98023,Age 10-19,King

In [6]:
merged_df["kids"] = np.where(((merged_df.AGE_DECADE == "Age 0-9") | (merged_df.AGE_DECADE == "Age 10-19")), "children", "adult")
merged_df["older"] = np.where(((merged_df.AGE_DECADE == "Age 60-69") | (merged_df.AGE_DECADE == "Age 70-79") | (merged_df.AGE_DECADE == "Age 80-89") |(merged_df.AGE_DECADE == "Age 90+") ), "elderly", "adult")
merged_df

,strain,cluster,location,date,Unnamed: 0,ID,GISAID_ID,POSTAL_CODE,AGE_DECADE,COUNTY,kids,older
0,USA/WA-UW-21050529358/2021,1,North_King_County,2021-05-05,22622,1203,USA/WA-UW-21050529358/2021,98282,Age 80-89,King,adult,elderly
1,USA/WA-UW-21050476716/2021,2,North_King_County,2021-05-04,7368,10863,USA/WA-UW-21050476716/2021,98109,Age 30-39,King,adult,adult
2,USA/WA-UW-2021041397284/2021,3,North_King_County,2021-04-13,11223,7461,USA/WA-UW-2021041397284/2021,98118,Age 10-19,King,children,adult
3,USA/WA-UW-2021041489375/2021,3,North_King_County,2021-04-14,7644,7630,USA/WA-UW-2021041489375/2021,98126,Age 10-19,King,children,adult
4,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,3,South_King_County,2021-04-27,10103,9761,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,98168,Age 10-19,King,children,adult
...,...,...,...,...,...,...,...,...,...,...,...,...
2865,USA/WA-CDC-UW21060145354/2021,1161,South_King_County,2021-06-01,8923,12709,USA/WA-CDC-UW21060145354/2021,98198,Age 0-9,King,children,adult
2866,USA/WA-CDC-UW21060179240/2021,1161,South_King_County,2021-06-01,6785,12704,USA/WA-CDC-UW21060179240/2021,98198,Age 0-9,King,children,adult
2867,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,1161,South_King_County,2021-06-23,3343,13428,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,98148,Age 30-39,King,adult,adult
2868,USA/WA-CDC-UW21062445836/2021,1161,North_King_County,2021-06-24,13612,13441,USA/WA-CDC-UW21062445836/2021,98195,Age 20-29,King,adult,adult
2869,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,1161,South_King_County,2021-06-19,2945,13326,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,98023,Age 10-19,King,children,adult

In [7]:
merged_df['year_month']=pd.to_datetime(merged_df['date']).dt.strftime('%y-%m')
merged_df['year_week']=pd.to_datetime(merged_df['date']).dt.strftime('%y-%U')

merged_df

,strain,cluster,location,date,Unnamed: 0,ID,GISAID_ID,POSTAL_CODE,AGE_DECADE,COUNTY,kids,older,year_month,year_week
0,USA/WA-UW-21050529358/2021,1,North_King_County,2021-05-05,22622,1203,USA/WA-UW-21050529358/2021,98282,Age 80-89,King,adult,elderly,21-05,21-18
1,USA/WA-UW-21050476716/2021,2,North_King_County,2021-05-04,7368,10863,USA/WA-UW-21050476716/2021,98109,Age 30-39,King,adult,adult,21-05,21-18
2,USA/WA-UW-2021041397284/2021,3,North_King_County,2021-04-13,11223,7461,USA/WA-UW-2021041397284/2021,98118,Age 10-19,King,children,adult,21-04,21-15
3,USA/WA-UW-2021041489375/2021,3,North_King_County,2021-04-14,7644,7630,USA/WA-UW-2021041489375/2021,98126,Age 10-19,King,children,adult,21-04,21-15
4,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,3,South_King_County,2021-04-27,10103,9761,USA/WA-Altius-ALTCOV-NBDJ5QXGCUU6C2F6/2021,98168,Age 10-19,King,children,adult,21-04,21-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2865,USA/WA-CDC-UW21060145354/2021,1161,South_King_County,2021-06-01,8923,12709,USA/WA-CDC-UW21060145354/2021,98198,Age 0-9,King,children,adult,21-06,21-22
2866,USA/WA-CDC-UW21060179240/2021,1161,South_King_County,2021-06-01,6785,12704,USA/WA-CDC-UW21060179240/2021,98198,Age 0-9,King,children,adult,21-06,21-22
2867,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,1161,South_King_County,2021-06-23,3343,13428,USA/WA-Altius-ALTCOV-IIHBLR3PJNSZQYWO/2021,98148,Age 30-39,King,adult,adult,21-06,21-25
2868,USA/WA-CDC-UW21062445836/2021,1161,North_King_County,2021-06-24,13612,13441,USA/WA-CDC-UW21062445836/2021,98195,Age 20-29,King,adult,adult,21-06,21-25
2869,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,1161,South_King_County,2021-06-19,2945,13326,USA/WA-Altius-ALTCOV-GLKMQ62ICN2JPKB3/2021,98023,Age 10-19,King,children,adult,21-06,21-24

In [8]:
cluster_counts_old = pd.DataFrame()
cluster_counts_adult = pd.DataFrame()
cluster_counts_old['count_clus'] = merged_df[merged_df['older'] =="elderly"].cluster.value_counts()
cluster_counts_adult['count_clus'] = merged_df[merged_df['older'] =="adult"].cluster.value_counts()
cluster_counts_old = cluster_counts_old.reset_index()
cluster_counts_old = cluster_counts_old.rename(columns={"index": "clusid", "count_clus": "size", "older": "age"})
cluster_counts_adult = cluster_counts_adult.reset_index()
cluster_counts_adult = cluster_counts_adult.rename(columns={"index": "clusid", "count_clus": "size", "older": "age"})

cluster_counts_old["age"] = "older"
cluster_counts_adult["age"] = "adult"

In [9]:
concat_clus = pd.concat([ cluster_counts_old, cluster_counts_adult], ignore_index=True)
concat_clus = concat_clus[["size", "age"]]

In [10]:
concat_clus

      size    age
0       25  older
1        8  older
2        3  older
3        3  older
4        2  older
...    ...    ...
1196     1  adult
1197     1  adult
1198     1  adult
1199     1  adult
1200     1  adult

[1201 rows x 2 columns]

In [11]:
concat_clus.groupby("age")["size"].mean()

age
adult    2.500924
older    1.378151
Name: size, dtype: float64

In [12]:
cluster_size = merged_df["cluster"].value_counts().reset_index().rename(columns={"index": "cluster", "cluster": "size"})

In [13]:
elderly_count = merged_df.groupby("cluster")["older"].value_counts().reset_index(level=0, drop=False).rename(columns={"older": "count"}).reset_index()

In [14]:
combined_elderly_count = pd.merge(cluster_size, elderly_count, on = "cluster")
combined_elderly_count = combined_elderly_count[combined_elderly_count.older == "elderly"]

In [15]:
combined_elderly_count["prop_elder"] = combined_elderly_count["count"]/combined_elderly_count["size"]

In [88]:
combined_elderly_count[combined_elderly_count["size"] > 5]["prop_elder"].mean()

0.11803443347047231

In [95]:
alt.Chart(combined_elderly_count).mark_bar(interpolate = "monotone").encode(
x = "prop_elder", y = "count()").transform_filter(datum.size >5)

alt.Chart(...)

In [18]:
merged_df.older.value_counts()

adult      2706
elderly     164
Name: older, dtype: int64

In [19]:
merged_size_df = pd.merge(merged_df, cluster_size, on = "cluster")

In [20]:
merged_size_df[(merged_size_df["size"] > 5)].older.value_counts()

adult      1281
elderly      70
Name: older, dtype: int64

In [21]:
70/1281

0.0546448087431694

In [23]:
metadata = pd.read_csv("../ncov-king/nextstrain_build/metadata/metadata_kc_puma.tsv.xz", sep = "\t" , compression = "xz")

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_43307/115932629.py:1: DtypeWarning: Columns (10,17,29,45,50,53) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv("../ncov-king/nextstrain_build/metadata/metadata_kc_puma.tsv.xz", sep = "\t" , compression = "xz")

In [53]:
metadata.head(5)

,Unnamed: 0.1,strain,virus,gisaid_epi_isl,genbank_accession,sra_accession,date,region,country,division,...,frame_shifts,deletions,insertions,substitutions,aaSubstitutions,clock_deviation,Unnamed: 0,Puma,COUNTY,ns_kc
0,0,Afganistan/IMB07956/2020,ncov,EPI_ISL_1039170,?,?,2020-06-06,Asia,Afghanistan,Afghanistan,...,ORF6:31-62,27265-27290,NaN,"C241T,C1150T,C3037T,C9924T,C14408T,C15738T,A20...","ORF1a:A3220V,ORF1b:P314L,S:D614G,S:C1236F",1.0,NaN,Asia,NaN,Asia
1,1,Afganistan/IMB15483/2021,ncov,EPI_ISL_1038924,?,?,2021-01-21,Asia,Afghanistan,Afghanistan,...,ORF1a:3604-4401,22190-22192,11074:T,"T10A,T13A,C241T,C3037T,G3259T,G5206T,A10108G,T...","N:S194L,ORF1a:Q998H,ORF1a:M1647I,ORF1a:L3440V,...",5.0,NaN,Asia,NaN,Asia
2,2,Afganistan/IMB15484/2021,ncov,EPI_ISL_1039163,?,?,2021-01-21,Asia,Afghanistan,Afghanistan,...,ORF1a:3607-4401,"11083,22190-22192",NaN,"C241T,C3037T,G3259T,G5206T,A10108G,T10583G,C14...","N:S194L,ORF1a:Q998H,ORF1a:M1647I,ORF1a:L3440V,...",2.0,NaN,Asia,NaN,Asia
3,3,Afganistan/IMB15485/2021,ncov,EPI_ISL_1039164,?,?,2021-01-21,Asia,Afghanistan,Afghanistan,...,NaN,22190-22192,NaN,"C241T,C3037T,G3259T,G5206T,C7113T,A10108G,T105...","N:S194L,ORF1a:Q998H,ORF1a:M1647I,ORF1a:T2283I,...",5.0,NaN,Asia,NaN,Asia
4,4,Afganistan/IMB15486/2021,ncov,EPI_ISL_1039165,?,?,2021-01-21,Asia,Afghanistan,Afghanistan,...,ORF1a:3607-4401,"11083,22190-22192",NaN,"C241T,C3037T,G3259T,G5206T,A10108G,T10583G,C14...","N:S194L,ORF1a:Q998H,ORF1a:M1647I,ORF1a:L3440V,...",2.0,NaN,Asia,NaN,Asia

In [78]:
new_metadata = pd.merge(metadata, raw_metadata, how = "left", left_on = "strain", right_on = "GISAID_ID")

In [79]:
len(metadata.index)

12394794

In [80]:
len(new_metadata.index)

12394794

In [81]:
len(raw_metadata.index)

33712

In [83]:
new_metadata.AGE_DECADE = new_metadata.AGE_DECADE.astype(str)

In [67]:
test_metadata.AGE_DECADE.value_counts()

AttributeError: 'str' object has no attribute 'AGE_DECADE'

In [85]:
new_metadata.to_csv("nextstrain_build/data/metadata_with_age.tsv", sep = "\t")

In [91]:
new_metadata.columns

Index(['Unnamed: 0.1', 'strain', 'virus', 'gisaid_epi_isl',
       'genbank_accession', 'sra_accession', 'date', 'region', 'country',
       'division', 'location', 'region_exposure', 'country_exposure',
       'division_exposure', 'segment', 'length', 'host', 'age', 'sex',
       'Nextstrain_clade', 'pango_lineage', 'GISAID_clade', 'originating_lab',
       'submitting_lab', 'authors', 'url', 'title', 'paper_url',
       'date_submitted', 'sampling_strategy', 'Nextclade_pango',
       'missing_data', 'divergence', 'nonACGTN', 'rare_mutations',
       'reversion_mutations', 'potential_contaminants', 'QC_missing_data',
       'QC_mixed_sites', 'QC_rare_mutations', 'QC_snp_clusters',
       'QC_frame_shifts', 'QC_stop_codons', 'QC_overall_score',
       'QC_overall_status', 'frame_shifts', 'deletions', 'insertions',
       'substitutions', 'aaSubstitutions', 'clock_deviation', 'Unnamed: 0_x',
       'Puma', 'COUNTY_x', 'ns_kc', 'Unnamed: 0_y', 'ID', 'GISAID_ID',
       'POSTAL_CODE', 'AGE_DECADE', 'COUNTY_y'],
      dtype='object')